@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  align-self: center;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(247, 247, 247);
  padding: 10px;
}

.tile, .image {
  margin: 10px;
}

.image, .image img, .tile {
  border-radius: 10px;
}

.tile {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  height: 1535px;
  width: 1122px;
  align-items: center;
}

.item {
  display: flex;
  width: 500px;
  height: 100px;
}

.name {
  color: rgb(2, 10, 26);
  justify-self: flex-start;
}

.price {
  color: rgb(255, 215, 0);
  justify-self: flex-end;
}

.tile h1, .tile h2, .tile h3, .tile h4, .tile h5, .tile h6 {
  color: rgb(39, 171, 247);
}
